:root{
  --bg: #f8f8f8;
  --container-bg: #fff;
  --text-color: #222;
  --text-light-color: #999;
  --placeholder: #777777;
  --primary: #4292dc;
  --hover: #3c7fbd;
  --active: #306493;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/poppins/Poppins-Light.ttf');
}

.display-flex,
.display-flex,
.display-flex-center,
.subscribe-content,
.signin-content, 
.subscribe-image{
  display: flex;
  display: -webkit-flex;
}



html,body{
    height: 100%;
    margin: 0;
    font-family: 'Poppins';
}

body {
    font-size: 13px;
    line-height: 1.8;
    color: var(--text-color);
    background: var(--bg);
    font-weight: 400;
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

p {
  margin-bottom: 0;
  font-size: 15px;
  color: var(--placeholder);
}

.subscribe-form h2 {
  line-height: 1.66;
  margin: 0.5rem 0;
  padding: 0;
  font-weight: 700;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 36px;
}

.main{
    height: 100%;
    display: flex;
    align-items: center;
}

.container {
  width: 900px;
  background: var(--container-bg);
  margin: 1rem auto;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.subscribe {
  margin-bottom: 150px;
}
.subscribe-content {
  padding: 75px 0;
}


/* form css */
.subscribe-form,
.subscribe-image,
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
}
.subscribe-image {
  margin: 0 55px;
  align-items: center;
  justify-content: center;
}
.form-title {
  margin-bottom: 33px;
}


.form-submit, .button-container  button {
  display: inline-block;
  background: var(--primary);
  color: var(--bg);
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  border: none;
  font-family: 'Poppins';
}

.form-submit:hover, .button-container button:hover {
  background: var(--hover);
}


.form-submit:active, 
.button-container  button:active{
    transform: scale(0.98);
    background: var(--active);
}

.subscribe-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center;
}
.subscribe-form {
  margin-left: 75px;
  margin-right: 75px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
.form-group:last-child {
  margin-bottom: 0;
}
.form-input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid var(--text-light-color);
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
}
.form-input::-webkit-input-placeholder {
  color: var(--text-light-color);
}
.form-input::-moz-placeholder {
  color: var(--text-light-color);
}
.form-input:-ms-input-placeholder {
  color: var(--text-light-color);
}
.form-input:-moz-placeholder {
  color: var(--text-light-color);
}
.form-input:focus {
  border-bottom: 1px solid var(--text-color);
}
.form-input:focus::-webkit-input-placeholder {
  color: var(--text-color);
}
.form-input:focus::-moz-placeholder {
  color: var(--text-color);
}
.form-input:focus:-ms-input-placeholder {
  color: var(--text-color);
}
.form-input:focus:-moz-placeholder {
  color: var(--text-color);
}


.form-label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222;
}


.subscribe-content {
  padding-top: 67px;
  padding-bottom: 87px;
}

.subscribe-form {
  margin-right: 90px;
  margin-left: 80px;
}
.subscribe-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px;
}

.button-container{
    position: fixed;
    bottom:0.5rem;
    left: 1rem;
    display: flex;
    width: calc(100% - 2rem);
    justify-content: space-between;
}






@media screen and (max-width: 1200px) {
  .container {
    max-width:90%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 768px) {

    html, body{
        height: auto;
    }


  .subscribe-content,
  .signin-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }
  .subscribe-form {
    margin: 0;
    padding-left: 0;
    padding: 0 30px;
    text-align: center;
  }
  .subscribe-image {
    margin: 3rem 1rem;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2;
  }
  .subscribe-form,
  .subscribe-image,
  .signin-form,
  .signin-image {
    width: auto;
  }

  .form-button {
    text-align: center;
  }

  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0;
    margin-left: 0;
    padding: 0 30px;
  }

  .button-container{
    position: relative;
    width: 100%;
    left: 0;
    display: block;
  }

  .button-container button{
    width: 90%;
    text-align: center;
    display: block;
    margin: 1rem auto;
  }

}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 

  }
  
  /* Modal Content */
  .modal-content {
    background-color: var(--bg);
    margin: auto;
    padding: 3rem;
    border: 1px solid var(--placeholder);
    border-radius: 10px;
    width: 95%;
    max-width: 400px;
    position: relative;
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: var(--placeholder);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0.7rem;
    user-select: none;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  

